body {
    background-image: radial-gradient(circle at center, navy, aqua);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-items: center;
    text-align: center;
    font-weight: bold;
}

header, footer {
    background-image: linear-gradient(to top, silver, grey);
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
    justify-items: center;
    border-radius: 50%;
    border: 3px solid black;
}

#inbetween {
    min-height: 466px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

#grid {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
}

.topOrBottom {
    width: 100%;
}

.topOrBottom a {
    background-image: radial-gradient(circle at center, blue, aqua);
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    color: black;
    border: 3px solid navy;
}

.column {
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.gameLink {
    background-image: radial-gradient(circle, silver, grey);
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    color: navy;
    border: 3px solid silver;
}

a {
    background-image: radial-gradient(circle, silver, grey);
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    color: black;
    border: 3px solid black;
}

a:hover {
    border-color: red;
}


.whiteBack {
    background-image: radial-gradient(circle, white, silver);
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    color: navy;
    border: 3px solid black;
}