body {
    background-image: radial-gradient(circle at center, navy, aqua);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: linear-gradient(to top, silver, grey);
    height: 100px;
    width: 100%;
}

footer {
    background-image: linear-gradient(to bottom, silver, grey);
    height: 100px;
    width: 100%;
}